*{
    color: #f1f2f1f2;
}
body{
    background-color: #0c0d02;
}
div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
}
input{
    background-color: #0c0d02;
    border: none;
}
input:focus{
    border: none;
    outline: none;
}
input::-moz-selection{
    background-color: transparent;
}
input::selection{
    background-color: transparent;
}
ion-icon{
    font-size: 1.5em;
    cursor: pointer;
}
